
body {
    position: relative;

}

#Post-feed {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #1E88E5;
}

#Chat {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #1E88E5;
}

#Post {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #1E88E5;
}
#Profile {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #1E88E5;

}




