#table {
    font-size: large;
    border:  5px solid white;
    float: left;
    width: 250px;


}

#topname{
    position: fixed;
    background-color: #008577;
    text-align: center;
    width: 100%;


}



body {
    background: #008577;

}

