#table {
    font-size: large;
    border:  5px solid white;
    float: left;
    width: 250px;

}

#topname{
    position: fixed;
    background-color: #008577;
    text-align: center;
    width: 100%;



}
#myInput {
    font-size: 16px;
    border: 1px solid #ddd;

}



body {
    background: #008577;

}

.message {
    margin-left: 220px;
    background-color: Silver;


}