*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

body{
    background: linear-gradient(to left, #8942a8, #ba382f );
}
.message-box{
  overflow: hidden;
  float: right;
  width:65%;
  height:695px;
  background: #fff;
  overflow-x: hidden;
}
.chatbox{
    float: right;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-color:lightyellow;
    overflow:hidden;
}
.chatlogs{
    overflow-y:scroll;
    width: 100%;
    height: 90%;
    background-color:lightyellow;
    overflow-x: hidden;


}
.in{
  display: inline-block;
}

#time_div{
  font-size: 10px;
  float: right;
}

.chatlogs::-webkit-scrollbar{
    width: 10px;
}

chatlogs::-webkit-scrollbar{
    border-radius: 5px;

}

.chat-form{
     height: 50px;
     background-color:  #fff;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea{
    background: #fbfbfb;
    width: 100%;
    height: 100%;
    border: 2px solid #eee;
    border-radius: 20px 20px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #999;

}
.chat-form textarea:focus{
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}

chatform textarea::-webkit-scrollbar{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}


.button{
    background: #094b46;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 10px 10px;
    cursor: pointer;
    -webkit-transition: background .2s ease;
   -moz-transition: background .2s ease;
   -o-transition: background .2s ease;
}
.button:hover{
    background: #ffeeb8;
}

#right{
  text-decoration-color:  #79918f ;
  background-color:  #094b46 ;
  text-align: left;
    max-width: 500px;
    border-radius: 2vh;
    border: 1px solid white;
    border-radius: 10px 10px;
    opacity: 0.98;
    margin: 4px;
    padding: 8px;
    overflow-wrap: break-word;
    margin-left: 22%;
}

.inline{
  height: 60px;
}

#left{
  text-decoration-color:  #79918f ;
  text-align: left;
    max-width: 500px;
    background: #195c56;
    margin: 5px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 10px 10px;
    opacity: 0.98;
    word-break: break-all
}

.left_message_card p{
  color: #79918f
}

.right_message_card p{
  color: #79918f
}

.left_message_card i{
  color: #79918f;
  float: right;
}

.right_message_card i{
  color: #79918f;
}

#i_holder{
  text-align: center;
  border-radius: 40px 40px;
  float: right;
  width: 20px;
  background-color: black;
}


/* Dropdown Button */
#i_holder {
 background-color: #4CAF50;
 color: white;
 border: none;
}

/* The container <div> - needed to position the dropdown content */
#i_holder{
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 overflow:auto;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 100px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
#i_holder:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
#i_holder:hover .option {background-color: #3e8e41;}
